body {
    background-image: url("holiday-picture.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: PowderBlue;
    font-family: 'Kalam', cursive;
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F5F5;
}
#nav li {
    float: left;
    
}
#nav li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: black;
    text-decoration: none; 
}

#nav li a:hover{
    background-color: #E6E6FA;
}

#content{
    border: solid grey 2px;
    margin-top: 16px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(255,250,250, 0.5);
    
}

table {
    margin: auto;
}

#content ul, #content ol{
    margin: auto;
    width: 22%;
    text-align: left;
}