body {
    background-image: url("menu.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Charmonman', cursive;
    color: black;
    text-align: center;
    top: 20%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    float: none;
    position: absolute;
    top: 58%;
    left: 20%;
    transform: translate(-20%, -50%);
    line-height: 100px;
    font-size: 40px;
}

#nav li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none; 
}

#nav li a:hover{
    background-color: #C0C0C0;
}

#content{
    margin-top: 16px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none; 
}
